.main-tree-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 800px;
    padding-bottom: 20px;
    overflow: hidden;
}

.main-tree {
    display: block;
    width: 500px;
    height: 714px;
}

.favorites-aside {
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 400px;
}

.favorites-container, .favorites-decorate {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
}

.favorites-container:before {
    content: "Игрушки";
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
}

.favorites-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    max-width: 84px;
    min-height: 84px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
}

.favorites-count {
    z-index: 10;
    align-self: flex-end;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    border-radius: 10px;
    background-color: #24C5DB;
    font-size: 14px;
    font-weight: 900;
}

.favorites-card-img {
    display: block;
    position: absolute;
    width: auto;
    height: 60px;
    width: 60px;
    object-fit: contain;
    z-index: 1000;
    cursor: -webkit-grab;
    cursor: grab;
}

.favorites-card-img:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.disabled {
    pointer-events: none;
}

.hold {
    background: #8fd3f4;
  }
  
.hide {
    display: none;
}

.hovered {
    border: 3px solid #ff85e4;
    border-radius: 20px;
  }