.settings {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 400px;
    width: 100%;
    padding-top: 25px;
}

.audio {
    width: 40px;
    height: 40px;
    background-image: url(./assets/svg/audio.svg);
}

.snow {
    width: 40px;
    height: 40px;
    background-image: url(./assets/svg/snow.svg);
}

.snow-audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
    display: flex;
    flex-flow: wrap;
    gap: 7px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 20px;
}

.menu-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.tree-container::before {
    content: $tree;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.tree-item {
    width: 115px;
    height: 115px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    background-size: auto 110px;
    gap: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.bg {
    width: 65px;
    height: 65px;
    border: 1px solid #cccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.bg-container::before {
    content: $bg;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
}

.garland-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 110px;
}


.garland-container:before {
    content: $garland;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
}

.garland-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px;
}

.color-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.garland-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px;
    cursor: pointer;
    pointer-events: none;
}

.switch-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(40deg,#00bf82,#0099ae);
    transition: .4s;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: linear-gradient(40deg,#ffd86f,#fc6262);
  }
  
  input:focus + .slider {
    outline: none;
  }
  
  input:checked + .slider:before {
    transform: translateX(65px);
  }

  .switch-inner {
    position: relative;
    top: -20px;
    display: block;
    height: inherit;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    border-radius: inherit;
    transition: .15s ease-out;
    transition: margin 0.3s ease-in 0s;

    &:before {
      content: $off;
      position: absolute;
      bottom: 0;
      left: 8px;
      color: #fff;
      opacity: 0;
    } 

    &:after {
      content: $on;
      position: absolute;
      right: 15px;
      color: #fff;
      opacity: 1;
      bottom: 0;
    }
  } 

  input:checked ~ .switch-inner:before {
    opacity: 1;
  }

  input:checked ~ .switch-inner:after {
    opacity: 0;
  } 

  input:checked + .switch-inner {
    opacity: 0;
    background: black;
  }
  
  .slider {
    border-radius: 20px;
  }
  
  .slider:before {
    border-radius: 50%;
  }