.main-page {
    background-image: url(./assets/bg.jpg);
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    font-size: 20px;
    line-height: 40px;
}

.filters, .range, .sort {
    width: 480px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
}

.control-title {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

.shape {
    display: flex;
    align-items: center;

    button {
        background-image: url(./assets/svg/ball.svg);
        margin-left: 20px;
        position: relative;
        width: 40px;
        height: 40px;
        margin: 10px 7px;
        border: 0;
        outline: 0;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: .3s;
    }
}

.color {
    display: flex;
    align-items: center;

    button {
        background-color: #FDD700;
        position: relative;
        width: 30px;
        height: 30px;
        margin: 15px 10px;
        border: 1px solid #278D9F;
        border-radius: 5px;
        outline: 0;
        background-color: transparent;
        cursor: pointer;
        transition: .3s;
    }
}

.size {
    display: flex;
    align-items: center;

    button {
        position: relative;
        width: 50px;
        height: 50px;
        margin: 5px 5px;
        border: 0;
        outline: 0;
        background-image: url(./assets/svg/ball.svg);
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: .3s;
    }
}

.favorite-container, .form {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
}

.favorite-input {
    width: initial;
    height: initial;
    display: none;
}

.favorite-input-label {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    backdrop-filter: blur(6px);
    border: 1px solid #278D9F;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
}