@import './filter-controls';
@import './range-controls';
@import './sort-controls';
@import './card-container';
@import './modal-error';

.main-page {
    background-image: url(./assets/bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 30px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    column-gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
