 .form-create {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
  }

  .color-input {
    border: none;
  }

  .panel-container {
    display: flex;
    justify-content: start;
    align-items: center;
  }