.flag {
    background-image: url(./assets/svg/racing-flag.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 11.6rem;
    height: 6rem;
    margin: 0;
  }