@import './car';
@import './control';
@import './flag';
@import './modal-error';
@import './garage-container';

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
