.garage-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.title {
    color: black;
}

.subtitle {
    color: black;
    margin: 10px 0;
}