.table {
    margin: 0;
    margin-bottom: 100px;
    }
    
    .table td,
    .table th {
    font-size: 18px;
    padding: 10px;
    color: black;
    }
    
    .table th {
      background-color: cadetblue;
    }