.table {
    margin: 0;
    margin-bottom: 10rem;
    }
    
    .table td,
    .table th {
    font-size: 1.8rem;
    padding: 1rem;
    color: black;
    cursor: pointer;
    }
    
    .table th {
      background-color: cadetblue;
    }